# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TextRPG/x64/Debug/TextRPG.tlog/link.read.1.tlog
TextRPG/x64/Debug/TextRPG.tlog/link.secondary.1.tlog
TextRPG/x64/Debug/TextRPG.tlog/link.write.1.tlog
x64/Debug/TextRPG.pdb
TextRPG/x64/Debug/TextRPG.tlog/Cl.items.tlog
TextRPG/x64/Debug/TextRPG.tlog/CL.read.1.tlog
TextRPG/x64/Debug/TextRPG.tlog/CL.write.1.tlog
TextRPG/x64/Debug/TextRPG.tlog/link.command.1.tlog
.vs/TextRPG/v17/ipch/AutoPCH/e22387281363daf1/SLIMECONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/f35045b3bb8718cf/GAMECONTROLLER.ipch
TextRPG/TextRPG.vcxproj
TextRPG/TextRPG.vcxproj.filters
TextRPG/x64/Debug/TextRPG.ilk
TextRPG/x64/Debug/TextRPG.log
TextRPG/x64/Debug/vc143.idb
TextRPG/x64/Debug/vc143.pdb
TextRPG/x64/Debug/TextRPG.tlog/CL.command.1.tlog
.vs/TextRPG/v17/Browse.VC.opendb
.vs/TextRPG/v17/DocumentLayout.json
.vs/TextRPG/v17/Solution.VC.db-shm
.vs/TextRPG/v17/Solution.VC.db-wal
.vs/TextRPG/v17/ipch/AutoPCH/10896264cc84e9e0/SINGLETON.ipch
.vs/TextRPG/v17/ipch/AutoPCH/1ad626590932a294/CREATURECONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/1ae7d64f0864f25a/FIELDMANAGER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/20c3b08d63b1ec91/MONSTERMANAGER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/219ba75303119c38/PLAYERMANAGER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/2d2f85d5deb29fc6/DRAGONCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/3910578efd50ea1b/MONSTERCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/489b4e362e3d3ba8/SLIMECONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/49ff02dcee9fe7f5/KNIGHTCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/4b764779763fac84/PLAYERCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/5a220c2c5940cdf7/SKELETONCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/642c47273bc9f9c1/PLAYERMANAGER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/7008fa6f5ee33ec0/MONSTERMANAGER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/798ffa38cf10927b/DRAGONCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/7dbc150a59397f53/MAGECONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/97a5af39e9d5e9b4/KNIGHTCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/af88f9c686f6bf08/MAIN.ipch
.vs/TextRPG/v17/ipch/AutoPCH/b1236eac8e3fa256/ARCHERCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/b88e75c03c242a82/SKELETONCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/b8a7a793386ded05/PLAYERCONTROLLER.ipch
.vs/TextRPG/v17/ipch/AutoPCH/dc7ee4b4f1f4b44d/PLAYERFACTORY.ipch
.vs/TextRPG/FileContentIndex/02232ba2-7e91-44da-9b88-3c589c33f8ca.vsidx
.vs/TextRPG/FileContentIndex/7fc5e08f-609d-47a1-ac0a-5d77d35ba9fb.vsidx
.vs/TextRPG/FileContentIndex/861c2c4d-1e04-4546-80cf-170af95b1889.vsidx
.vs/TextRPG/FileContentIndex/91718425-ea00-47cd-89e3-9bdb7e0e81a7.vsidx
.vs/TextRPG/FileContentIndex/b3ec1cbd-f7d2-4302-968e-6ab7f8e83831.vsidx
.vs/TextRPG/v17/.suo
.vs/TextRPG/v17/Browse.VC.db
.vs/TextRPG/v17/Browse.VC.db-shm
.vs/TextRPG/v17/Browse.VC.db-wal
